* {
    background-color: #313338
}

body {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: white;
}

h1 {
    color: White;
    background-clip: text;
    font-size: 28px;
    text-align: center;
}

.HorizonalList {
    display: flex;
    gap: 20px;
    list-style: none;
    text-align: left;
    justify-content: center;
}

.Link {
    color: White; 
}

.aWithUnderscore {
    text-decoration: underline;
}

a {
    color: white;
}

article {
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 14px;
    color: white; 
}

footer {
    text-align: center;
}