* {
    background-color: transparent;
}

body {
    background: #020024;
    background: -webkit-linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background: -moz-linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr="#020024",
        endColorstr="#00D4FF",
        GradientType=1
    );   
    font-family: 'Segoe UI';
    font-size: 14px;
    color: white;
}

h1 {
    background-color: transparent;
    color: White;
    background-clip: text;
    font-size: 28px;
    text-align: center;
}

h2 {
    font-style: normal;
    text-decoration: underline;
}

h3 {
    color: White;
    background-clip: text;
    text-align: center;
}

a {
    color: white;
}

article {
    background-color: transparent;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 14px;
    color: white; 
}

footer {
    background-color: transparent;
    text-align: center;
}

.BorderdH1 {
    background-color: transparent;
}

.VerticalStackingDiv {
    margin-top: 20px;
    margin-bottom: 20px;
}

.VerticalBorderedStackingDiv {
    border-style: solid;
    border-radius: 15px;
    border-color: #404040;
    margin-top: 20px;
    margin-bottom: 20px;
}

.HorizontalDiv {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
    text-align: left;
    justify-content: center;
}

.HorizontalBorderdDiv {
    border-style: solid;
    border-radius: 15px;
    border-color: #404040;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
    text-align: left;
    justify-content: center;
}

.HorizonalList {
    display: flex;
    gap: 20px;
    list-style: none;
    text-align: left;
    justify-content: center;
}

.Link {
    color: White; 
}

.aWithUnderscore {
    text-decoration: underline;
}

.BorderdDiv {
    border-style: solid;
    border-radius: 15px;
    border-color: #404040;
    border-width: 4px;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
    text-align: left;
    justify-content: center;
}
